body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cover-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message{
  width:20%;
  margin:5px;
  justify-content:center;
  align-items:center;
}
.message-block-div{
  border:1px solid  rgb(11, 114, 231);
}
.message-block{
    border:1px solid rgb(11, 114, 231);
}
